:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: var(--color-light);
  color: var(--color-dark);
}

.container {
  width: 80%;
  margin: 0 auto;
}
.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
